---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Card from '../components/Card.astro';
import MainSection from '../components/MainSection.astro';
---

<Layout title="Resume Gian Barboza" >
	<main>
		<Header/>
		<MainSection/>
	</main>
</Layout>

<style is:global>
	 .whiteText {
        color: #fff;
        text-align: left;
    }

    .blackText {
        color: #000;
        text-align: right;
    }

	.middleAlignComponent {
        display: flex;
        justify-content: center;
        gap: 50px;
        font-family: system-ui;
    }

	.sections {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 20px 40px;
		width: 500px;
	}
	.sections > p {
		text-align: justify;
	}

	main {
		padding: 100px 10%;
		background: linear-gradient(
			to right, 
			#fff 0%, 
			#fff 50%, 
			#16181C 50%, 
			#16181C 100%
		);
	}

</style>
