---
---
<div class="middleAlignComponent">
    <div class="HeaderTitleCard blackText">
        <span class="nameHeaderTitleCard">Gian Eloin</span> <br>
        <span class="subtitleHeaderCard">Backend Developer</span>
    </div>
    <img class="avatarHeader" src="https://pbs.twimg.com/profile_images/1453483560464228362/89lcuWzq_400x400.jpg" alt="Twitter avatar
    ">
    <div class="HeaderTitleCard whiteText">
        <span class="nameHeaderTitleCard">Barboza Ruiz</span>
    </div>
</div>

<style>
   
    .avatarHeader {
        width: 200px;
        border-radius: 50%;
        transition: .4s ease all;
    }

    .avatarHeader:hover {
        width: 250px;
        transition: .4s ease all;
    }

    .HeaderTitleCard {
        width: 40%;
        font-weight: 600;
    }

    .nameHeaderTitleCard {
        width: 30%;
        font-size: 2rem;
    }

    .subtitleHeaderCard {
        font-size: 1.4rem;
    }
</style>


