---
---

<div class="middleAlignComponent">
    <section class="sections blackText">
        <h2>Perfil</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa tempora inventore reiciendis, aliquid atque harum, quisquam vero quam reprehenderit voluptas corrupti ex officia ad explicabo eligendi, velit veritatis amet quo.</p>
    </section>
    <section class="sections whiteText">
        <h2>Habilidades</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa tempora inventore reiciendis, aliquid atque harum, quisquam vero quam reprehenderit voluptas corrupti ex officia ad explicabo eligendi, velit veritatis amet quo.</p>
    </section>
</div>

